
.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

/* shared style */

.secondary-bg{
    background-color: #FFF8F3;
}

.text-primary{
    color: #FD6E0A;
}

.dark-2{
    color: #474747;
}

.btn-primary{
    background-color: #FD6E0A;
    color: white;
    font-weight: bold;
    font-size: 20px;
    padding: 18px 35px;
    border-radius: 5px;
    border: none;
}

.section-title{
    font-size: 35px;
    font-weight: bold;
    color: #181818;
}

.section-description{
    font-size: 18px;
    color: #757575;
    padding: 15px;
}

.text-center{
    text-align: center;
}

/* Header */
.header{
    background-image: url('../images/developer.png'), url('../images/header_bg.png');
    background-repeat: no-repeat;
    background-position: top left, bottom right;
    margin: 30px 0 0 30px;
}
/* Nav style */
nav{
       display: flex;
       align-items: center;
       justify-content: space-between;
       margin: 0 200px;
}

.nav-title{
    font-weight: 800;
    font-size: 45px;
}

nav ul{
    display: flex;
    align-items: center;
}

nav ul li{
    list-style: none;
    margin-right: 51px;
}

nav ul li a{
    text-decoration: none;
    font-size: 20px;

}

/* Banner Style */

.banner{
    display: flex;
    justify-content: space-between;
    margin: 0 35px 0 230px;
}

.banner-content{
    max-width: 580px;
}

.banner-greeting{
    font-size: 45px;
    font-weight: 600;
}

.banner-title{
    font-size: 85px;
    font-weight: bold;
}

.banner-description{
    font-size: 18px;
}

.banner-profile-pic{
    width: 580px;
    height: 670px;
}

/* Main Style */
main{
    max-width: 1140px;
    margin: 0 auto;
    margin-top: 130px;
}

main section{
    margin-top: 130px;
    margin-bottom: 130px;
}

/* About Stylw */
.about-me{
    border-radius: 10px;
    padding: 130px  150px;
    text-align: center;
    margin-top: 130px;
    color: #474747;

}

.about-items{
    display: flex;
    justify-content: space-around;
}


.item-description{
    font-weight: 600;
    font-size: 20px;
    margin: -15px;
}

.item-title{
    color: #757575;
}

.about-item{
    margin: 12px;
}

/* Skills Section */

.skills-container{
    display: flex;
    gap: 24px;
}

.skill{
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}

/* Resume Section Style */
.section-title{
    text-align: center;
}

.resume-container{
    display: flex;
    gap: 24px;
}

.resume-column-title{
    font-size: 30px;
    font-weight: 700;
    color: #474747;
    /* width: 203px; */
    height: 41px;
}

.experience-title{
    font-size: 25px;
    font-weight: 700;
    width: 405px;
    height: 34px;
    color: #474747;
}

.experience-sub-title{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
}

.experience-description, .experience-sub-title{
    color: #757575;
}

/* Download btn */
.resume-download-cv{
    margin: 50px;
}

/* Footer Style */

footer{
    padding: 130px 230px;
    display: flex;
    gap: 100px;
}

.footer-column{
    width: 50%;
}

footer input[type="text"], footer input[type="email"], footer textarea{
    border-radius: 5px;
    background-color: white;
    display: block;
    width: 461px;
    height: 64px;
    padding: 10px 20px;
    border: none;
}
    